@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

@layer base {
  html {
    font-family: Ubuntu, system-ui, sans-serif;
  }

  button-primary {
    @apply bg-blue-500 text-white px-4 py-2 rounded-md;
  }

  input {
    @apply border border-gray-300 rounded-md px-3 h-10;
  }

  label {
    @apply block text-gray-700 text-sm font-bold mb-1;
  }

  select {
    @apply block border border-gray-300 rounded-md h-10 px-3;
  }
}
